./django/aula10/__pycache__/
./django/aula10/venv/
./django/secao_4_aula11-15/venv/
./nextjs_react/node_modules/
./nextjs_react/typescript/typescript_introducao/node_modules/
./nextjs_react/typescript/typescript_types/node_modules/