body{
	background: #007fc7;
}
h1{
	position: static;
}
p{
	width: 400px;
}
#conteiner{
	background: #FFF;
	width: 800px;
	margin: 10px auto;
	padding: 10px;
}
.relative{
	border: 1px solid red;
	position: relative;
	/*Top, right, bottom left
	top: 20px;
	left: 80px;
	right: 20px;
	bottom: 20px;*/
}