#conteudo{
    background: #dcdcdc;
    height: 600px;
    display: flex;
    
    /*
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
    */
}

.item{
    height: 100px;
    background: white;
    border: 1px solid grey;
    margin: 10px;
    
    flex-grow: 0;

    flex-shrink: 1;

    flex-basis: 200px;
}

.item1{
    /*flex-shrink: 1;*/
}

.item2{
    flex-grow: 1;
    /* flex-shrink: 2; */
}

.item3{
    flex-grow: 2;
    /* flex-shrink: 5; */
}